
body {
  background-color:#E84855;
}


.container{
    margin-top: 10vh;
    background-color: #F9DC5C;
    padding: 2%;
    border-radius: 100px;
}


#me{
    font-size: 22PX;
    cursor: pointer;
    }

h1{
    cursor: progress;
}

.die{
    cursor: none;
}
input{
    border: none;
    border-radius: 100px;
    padding: 2% 5%;
    min-width: 50px;
    outline: none;
    background-color: #403F4C;
    color: white;
}

.col-sm-4{
    margin: 5vh 0vw;
    display: flex;
    justify-content: center;

}