*{
    user-select: none;
}
body {
  background-color:#E84855;
}


.container{
    margin-top: 10vh;
    background-color: #F9DC5C;
    padding: 10%;
    border-radius: 100px;
    max-width: 80%;
}

.box{
    border-radius: 100px;
    padding: 2% 5%;
    h1{
        font-size: 22PX;
        cursor: pointer;
    }
}
h1{
    cursor: progress;
}
.die{
    cursor: none;
}
input{
    -webkit-user-select: text;
    border: none;
    border-radius: 100px;
    padding: 2% 5%;
    min-width: 50px;
    outline: none;
    background-color: #403F4C;
    color: white;
}

.col-sm-4{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}